{% extends 'base.html.twig' %}

{% block title 'Catégories' %}

{% block navBar %}
    {% include '/navbars/navbarHomeAdmin.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="jumbotron">
            <div class="row d-flex justify-content-center">
                <div class="card ">
                    <div class="mb-4 ml-3 mr-3">
                        <p class="text-center">Catégories : </p>
                        <select>
                            {% for bd in bds %}
                                <option>{{ bd.genre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}