{% extends 'base.html.twig' %}

{% block title 'Prêts' %}

{% block navBar %}
    {% include '/navbars/navbarHomeAdmin.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row d-flex justify-content-center">
            <div class="jumbotron text-center">
                <h1>Mes BDs en prêt : </h1>
            </div>
        </div>
    </div>
    {% for bd in bds %}
        <div class="col-md-3 text-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ bd.title }}</h5>
                    <p class="card-text">({{ bd.comment }})</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}