{% extends 'base.html.twig' %}

{% block title 'Auteurs'%}

{% block navBar %}
    {% include '/navbars/navbarHomeAdmin.html.twig' %}
{% endblock %}

{% block body %}
    <div class = "container-fluid mt-5">
        <div class="row d-flex justify-content-center">
            <div class="card">
                <p>Auteurs : </p>
                {% for bd in bds %}
                    <ul>
                        <li>{{ bd.author}}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}