<footer class="page-footer">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.linkedin.com/in/arthur-pralon/"> Arthur Pralon </a>
    </div>
</footer>
