{% extends 'base.html.twig' %}

{% block title 'Homepage'%}

{% block navBar %}
    {% include '/navbars/navbarHome.html.twig' %}
{% endblock %}

{% block body %}
<h1>HomePage</h1>
{% endblock %}

{% block javascripts %}
{% endblock %}