{% block navBar %}
    {% include '/navbars/navbarHomeAdmin.html.twig' %}
{% endblock %}
<div class="jumbotron">
    <div class ="row">
        <div class ="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

